body{
    background-color: rgb(238, 238, 238);
 display: flex;
 flex-direction: column; 
 justify-content: center;
 align-items: center;  
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
button{
    width: 4vw;
    background-color: aquamarine;
    border-radius: 5px;
}
h1{
    font-family: 'Carter One', cursive;

}
input{
    margin: 0.5vh;
    border-radius: 5px;
    
}
a{
    text-decoration: none;
    color: rgb(70, 181, 245);
}
ul{
    display: flex;
    justify-content: space-evenly;
    /* background-color: aqua; */
    width: 80%;
    list-style: none;
    
}
nav{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    
}
header{
    /* background-color: burlywood; */
    width: 100vw;
}
.box{
    background-color: rgb(189, 189, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    border-radius: 10px;
}